html {
  font-size: $baseFontSize + px;
  font-family: "aktiv-grotesk", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  color: $text;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include breakpoint($tablet) {
    font-size: $baseFontSize * 1.25 + px;
  }
  @include breakpoint($desktop) {
    font-size: $baseFontSize * 1.5 + px;
  }
}

h1 {
  font-weight: 500;
  margin: 0 0 .4em;
  font-size: 3.5rem;
  letter-spacing: -3px;
  line-height: 1;
}

h2 {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 0 0 .5em;
  line-height: 1.25;
}

h3 {
  border-bottom: 1px solid;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 0 1em;
  line-height: 1.25;
}

h4 {}

h5 {}

h6 {}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: .75rem;
  font-size: .875rem;
}

#{$a-tags} { // see variables partial for definitions
  color: $text;
  text-decoration: none;
  border-bottom: 1px solid $green;
}

#{$a-tags-hover} {
  color: $green;
}

p {
  margin: 1rem 0;
}

small {}

strong {
  font-weight: 500;
}

sup {}

hr {}

::-moz-selection {
  color: $yellow;
  background: $magenta;
}

::selection {
  color: $yellow;
  background: $magenta;
}


// ----------------------------------------------------------
// special use classes
// ----------------------------------------------------------

.highlight {
  background-color: $text;
  color: #fff;
  padding: 0 .3em .15em;
}


// ----------------------------------------------------------
// nexa webfonts
// ----------------------------------------------------------

