// ----------------------------------------------------------
// colors
// ----------------------------------------------------------

$text           : #000;
$green 				  : #8dc53e;


// ----------------------------------------------------------
// fonts
// ----------------------------------------------------------

$baseFontSize       : 16;


// ----------------------------------------------------------
// shortcuts
// ----------------------------------------------------------

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';