// ----------------------------------------------------------
// colors
// ----------------------------------------------------------

$text           : #000;
$green 				  : #8dc53e;
$yellow         : #d6df22;
$magenta        : #eb008b;
$cyan           : #00adee;


// ----------------------------------------------------------
// fonts
// ----------------------------------------------------------

$baseFontSize       : 16;


// ----------------------------------------------------------
// shortcuts
// ----------------------------------------------------------

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';